<main role="main" class="container">
    <div class="jumbotron">
        <h1>About</h1>
        <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ducimus possimus nisi, cum sit voluptatum
            dolores nemo mollitia labore omnis porro quae atque vel ipsum magni quod, dignissimos tempora facere rerum
            temporibus corrupti? Placeat, porro soluta veritatis, voluptatem minima earum natus, saepe tempora aliquid
            culpa dolor alias maxime dignissimos voluptatum.
        </p>
    </div>



</main>